{% extends 'base.html' %}

{% load static %}
{% block body %}
    <h1 class="journal-header">Articles list</h1>
    <div class="row">
        <div class="col-xs-12">
            {% for value in article_display %}
             <div class="journal-outer-container col-xs-4">
                 <div class="journal-container">
                    <div class="journal-name">
                        <a href="/article/view/{{ value.id }}">{{value.name}}</a>
                    </div>
                    <div>
                        <a href="/article/{{ value.id }}"><button class="btn btn-primary">EDIT</button></a>
                        <a href="/article/delete/{{ value.id }}"><button class="btn btn-primary" >DELETE</button></a>
                    </div>
                 </div>
             </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}